@import '../../styles/var.less';

.@{namespace}-menu-item {
  font-size: 14px;
  color: @color-text-regular;
  cursor: pointer;

  &--header {
    display: flex;
    align-items: center;
    padding: 0 10px;
    line-height: 2;

    &:hover {
      color: @primary-color;
      background-color: rgba(@primary-color, 0.05);
    }
  }

  &--icon {
    display: flex;
    align-items: center;
    width: 1.5em;
    aspect-ratio: 1 / 1;
    // background-color: yellow;
  }
  &--hd-inner {
    flex: 1;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  &--more {
    margin: 0 0 0 5px;
  }

  &.horizontal-mode.level-0,
  &.inline-mode {
    & > .@{namespace}-menu-item--header {
      .@{namespace}-menu-item--more {
        transform: rotate(90deg);
      }
    }

    &.is-open {
      & > .@{namespace}-menu-item--header {
        .@{namespace}-menu-item--more {
          transform: rotate(270deg);
        }
      }
    }
  }

  &.is-active {
    color: @primary-color;
  }
  &.is-exact-active {
    & > .@{namespace}-menu-item--header {
      background-color: rgba(@primary-color, 0.05);
    }
  }

  .@{namespace}-menu-item--child {
    display: none;
    padding: 5px 0;
    position: absolute;
    z-index: 2000;
    border: 1px solid #ddd;
    background-color: #fff;
    background-color: hsla(0, 0%, 100%, 0.85);
    backdrop-filter: saturate(100%) blur(10px);
    border-radius: 5px;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.05);

    .@{namespace}-menu-item--header {
      min-width: 150px;
    }
  }

  &.inline-mode {
    // 除在折叠菜单状态下 移除定位相关样式
    &:not(.is-collapse) {
      .@{namespace}-menu-item--child {
        padding: 0;
        position: inherit;
        border: none;
        box-shadow: none;
        border-radius: 0;
      }
    }

    &.is-open {
      & > .@{namespace}-menu-item--child {
        display: block;
      }
    }
  }

  &.is-collapse {
    & > .@{namespace}-menu-item--header {
      justify-content: center;

      .@{namespace}-menu-item {
        &--icon {
          justify-content: center;
        }
        &--more {
          transform: rotate(0deg);
        }
      }
    }

    &.is-open {
      & > .@{namespace}-menu-item--header {
        .@{namespace}-menu-item--more {
          transform: rotate(0deg);
        }
      }
    }

    &.level-0 {
      & > .@{namespace}-menu-item--header {
        .@{namespace}-menu-item {
          &--more,
          &--hd-inner {
            display: none;
          }
        }
      }
    }
  }

  &.is-disabled {
    cursor: not-allowed;

    .@{namespace}-menu-item--header {
      color: rgba(0, 0, 0, 0.2);

      &:hover {
        color: rgba(0, 0, 0, 0.2);
      }
    }
  }
}
