@import '../../styles/var.less';

.@{namespace}-button {
  position: relative;
  padding: 0.25em 0.8em 0.3em;
  font-size: calc(var(--size) * 1px);
  word-break: keep-all;
  border-radius: 0.15em;
  border: none;
  color: var(--color, @btn-default-text-color);
  box-sizing: border-box;
  background-color: var(--bg, #eee);
  transition: all 0.2s;
  cursor: pointer;
  outline: none;

  span {
    color: inherit;
    position: relative;
    z-index: 2;
    transition: 0.1s;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    filter: brightness(0.7);
  }

  &[disabled] {
    --color: #aaa !important;
    cursor: not-allowed;
    background: #eee;

    &:hover {
      background: #ddd !important;
    }

    &:active {
      transform: none;
    }
  }

  // 自定义与颜色 =============================
  &--theme-primary {
    --bg: @btn-primary-color;
  }
  &--theme-success {
    --bg: @btn-success-color;
  }
  &--theme-warn {
    --bg: @btn-warn-color;
  }
  &--theme-error {
    --bg: @btn-error-color;
  }

  &[class*='--theme-'],
  &.customize-bg {
    span {
      color: var(--color, #fff);
    }

    .@{namespace}-button--icon {
      color: #fff;
    }
  }

  &.customize-color {
    span {
      color: var(--color);
    }
  }

  &.plain {
    color: var(--bg, @btn-default-text-color);
    background: transparent;
    border: 1px solid var(--bg, #eee);

    span {
      color: inherit;
    }

    &[disabled] {
      color: #aaa !important;
      background: transparent;
      border-color: #eee;

      &:hover {
        border-color: #ddd !important;
        background: transparent !important;
      }
    }
  }

  // type=text ===============================
  &[type='text'] {
    color: var(--color, @btn-default-text-color);
    background: transparent;

    // 自定义与颜色 =============================
    &.@{namespace}-button--theme-primary {
      --color: @btn-primary-color;
    }
    &.@{namespace}-button--theme-success {
      --color: @btn-success-color;
    }
    &.@{namespace}-button--theme-warn {
      --color: @btn-warn-color;
    }
    &.@{namespace}-button--theme-error {
      --color: @btn-error-color;
    }

    &:hover {
      background: transparent;
    }

    &[class*='--theme-'].has-bg {
      background: ~'hsl(from var(--color) h s calc(l * 1.8))';
    }

    &.customize-color {
      &.has-bg {
        background: ~'hsl(from var(--color) h s calc(l * 2))';
      }

      &:hover {
        filter: brightness(1.1);
      }

      span {
        color: var(--color);
      }
    }

    &.customize-bg {
      background: var(--bg);

      &:hover {
        filter: brightness(1.1);
      }
    }

    &[disabled] {
      color: #aaa !important;
      background: transparent !important;

      &:hover {
        color: #ddd !important;
      }

      &:active {
        transform: none;
      }
    }
  }

  &.round {
    border-radius: 1em;
  }

  &.only-icon {
    &.round {
      padding: 0;
      width: 2em;
      height: 2em;
    }
  }

  &--icon {
    // position: relative;
    // z-index: 2;
    display: inline-flex;
    width: 1em;
    color: @btn-default-text-color;
    overflow: hidden;

    & + span {
      margin-left: 5px;
    }
  }
}

// loading 显示与隐藏动画
.@{namespace}-button--loading-enter-active,
.@{namespace}-button--loading-leave-active {
  transition: width 0.2s ease-out;
}

.@{namespace}-button--loading-enter-from,
.@{namespace}-button--loading-leave-to {
  width: 0;
}
