.vc-form-item {
  display: flex;
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 2.25em;

  &.is-column {
    flex-direction: column;
  }

  &__content {
    position: relative;
    flex: 1;
    vertical-align: top;
  }

  &__error {
    position: absolute;
    left: 0;
    font-size: 12px;
    line-height: 16px;
    color: #ff4d4f;
  }

  &__label {
    padding: 0 5px 0 0;
    color: @color-text-regular;
    vertical-align: top;

    label {
      vertical-align: middle;
    }
  
    .is-required &:not(.is-no-asterisk):before {
      content: '*';
      color: #ff4d4f;
    }
  
    &.text-align {
      &-right {
        text-align: right;
      }
      &-left {
        text-align: left;
      }
    }
  
    &-suffix {
      padding: 0 2px;
    }
  }
}

.vc-fade-in-enter-active,
.vc-fade-in-leave-active {
  opacity: 1;
  transition: opacity .2s;
  transform-origin: center top;
}
.vc-fade-in-enter-from,
.vc-fade-in-leave-to {
  opacity: 0;
}
