@import '../../styles/var.less';

.vc-form-item {
  display: flex;
  gap: 10px;
  margin-bottom: 18px;
  font-size: 14px;
  line-height: 2.25em;

  &.is-column {
    flex-direction: column;
  }

  &__content {
    position: relative;
    flex: 1;
    vertical-align: top;
  }

  &__error {
    position: absolute;
    left: 0;
    font-size: 12px;
    line-height: 16px;
    color: #ff4d4f;
  }

  &__label {
    display: inline-block;
    color: @color-text-regular;
    vertical-align: top;

    label {
      vertical-align: middle;
    }

    .is-required &:not(.is-no-asterisk):before {
      content: '*';
      margin: 3px;
      font-size: 14px;
      font-weight: bold;
      color: #ff4d4f;
    }

    &.text-align {
      &-right {
        text-align: right;
      }
      &-left {
        text-align: left;
      }
    }

    &-suffix {
      padding: 0 2px;
    }
  }

  &.is-error {
    // 输入框
    // .vc-input {
    //   border-color: #ff4d4f;
    // }

    // 计数器
    // .vc-input-number__input {
    //   border-color: #ff4d4f;
    // }

    // 时间选择器
    .vc-time-picker {
      .vc-time-picker__header {
        input {
          border-color: #ff4d4f;
        }
        .vc-icon-time {
          color: #ff4d4f;
        }
      }
    }
  }
}

.vc-fade-in-enter-active,
.vc-fade-in-leave-active {
  opacity: 1;
  transition: opacity 0.2s;
  transform-origin: center top;
}
.vc-fade-in-enter-from,
.vc-fade-in-leave-to {
  opacity: 0;
}
