.vc-form-item__label {
  color: #666;
  padding-right: 5px;

  .is-required &:not(.is-no-asterisk):before {
    content: '*';
    color: #ff4d4f;
  }

  &.text-align {
    &-right {
      text-align: right;
    }
    &-left {
      text-align: left;
    }
  }

  &-suffix {
    padding: 0 2px;
  }
}