@import './var.less';

:root {
  @{bg}: #fff;
  @{disBg}: #eee;
  @{textColorPrimary}: #303133;
  @{textColorRegular}: #606266; // --vc-text-color-regular
  @{textColorSecondary}: #909399;
  @{borderColor}: #dcdfe6;
  @{placeholderColor}: #c0c4cc;

  @{primaryColor}: @primary-color;
  @{backdropFilter}: saturate(180%) blur(20px);
  @{backdropFilterBg}: rgba(#fff, 0.8);

  // input
  @{input}-bg: e('var(@{bg})');
  @{input}-disabled-bg: e('var(@{disBg})');
  @{input}-hover-color: e('var(@{primaryColor})');
  @{input}-color: e('var(@{textColorPrimary})');
  @{input}-border-color: e('var(@{borderColor})');
  @{input}-placeholder-color: e('var(@{placeholderColor})');

  // table
  @{table}-bg: var(--vc-bg);
  @{table}-header-color: e('var(@{textColorSecondary})');
  @{table}-color: var(--vc-text-color-regular);
  @{table}-border-color: var(--vc-border-color);
  @{table}-hover-bg: #eee;
  @{table}-light-bg: #faedc4;
  @{table}-light-border-color: #ffdc73;
  @{table}-mod-bg: rgba(255, 255, 255, 0.5);

  // pagination
  --pagination-color: var(--vc-text-color-primary);
  --pagination-show-bg: var(--vc-text-color-regular);
  --pagination-disabled-color: #ccc;

  // layer
  @{layer}-bg: var(--vc-bg);
  @{layer}-mod-bg: rgba(#000, 0.2);
  @{layer}-header-color: var(--vc-text-color-primary);
}

.dark {
  @{bg}: #000;
  @{disBg}: #222;
  @{textColorPrimary}: #e5eaf3;
  @{textColorRegular}: #cfd3dc; // --vc-text-color-regular
  @{borderColor}: #555;
  @{placeholderColor}: #555;

  @{backdropFilter}: saturate(180%) blur(20px);
  @{backdropFilterBg}: rgba(22, 22, 23, 0.8);

  // input
  @{input}-bg: e('var(@{bg})');

  // table
  @{table}-bg: var(--vc-bg);
  @{table}-border-color: #333;
  @{table}-hover-bg: #222;
  @{table}-light-bg: #2c281b;
  @{table}-light-border-color: #4c3c23;
  @{table}-mod-bg: rgba(0, 0, 0, 0.5);

  // pagination
  --pagination-show-bg: #222;
  --pagination-disabled-color: #333;

  // layer
  @{layer}-mod-bg: rgba(#fff, 0.1);
}
