.vc-switch {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  vertical-align: middle;
  box-sizing: border-box;

  &__inset {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    opacity: 0;
    padding: 0 3px;
    transition: opacity .35s;

    i,
    span {
      display: inline-block;
      font-size: 0.7em;
      color: #fff;
      white-space: nowrap;
    }

    &-open {
      left: 0;
      padding-right: calc(1em + 10px);

      .is-checked & {
        opacity: 1;
      }
    }
    &-close {
      opacity: 1;
      right: 0;
      padding-left: calc(1em + 10px);

      .is-checked & {
        opacity: 0;
      }
    }
  }
}

.vc-switch__core {
  margin: 0;
  display: inline-block;
  position: relative;
  min-width: 2.5em;
  height: 20px;
  outline: none;
  color: #dcdfe6;
  background-color: currentColor;
  border: 2px solid;
  border-radius: 1em;
  vertical-align: middle;
  cursor: pointer;
  transition: color .35s;

  .is-checked & {
    color: #0099ff;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0px;
    width: 1em;
    height: 1em;
    border-radius: 100%;
    transition: all 0.3s;
    background-color: #fff;
    transform: translateY(-50%);

    .is-checked & {
      left: 100%;  
      transform: translate(-100%, -50%);    
    }
  }
}
.vc-switch__label.is-active {
  color: #409eff;
}

.vc-switch__label-right {
  margin-left: 10px;
}

.vc-switch__label-left {
  margin-right: 10px;
}

.vc-switch__core-open {
  left: 7px;
}

.vc-switch__core-close {
  right: 7px;
}

.vc-switch__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  margin: 0;
}
.vc-switch__core.opacity {
  opacity: 0.5;
}

.vc-switch__label {
  transition: 0.2s;
  height: 20px;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  vertical-align: middle;
  color: #303133;

  * {
    line-height: 1;
    font-size: 14px;
    display: inline-block;
  }
}



.vc-switch.is-disabled .vc-switch__core {
  cursor: not-allowed;
}

