.vc-switch {
  display: inline-flex;
  align-items: center;
  position: relative;
  font-size: 14px;
  vertical-align: middle;
  box-sizing: border-box;
  transition: opacity .35s;
  cursor: pointer;

  &__inset {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    opacity: 0;
    padding: 0 3px;
    transition: opacity .35s;

    i,
    span {
      display: inline-block;
      font-size: 0.7em;
      color: #fff;
      white-space: nowrap;
    }

    &-open {
      left: 0;
      padding-right: calc(1em + 10px);

      .is-checked & {
        opacity: 1;
      }
    }
    &-close {
      opacity: 1;
      right: 0;
      padding-left: calc(1em + 10px);

      .is-checked & {
        opacity: 0;
      }
    }
  }

  &__label {
    font-size: 14px;
    transition: color .35s;

    &-left {
      margin-right: 10px;
    }
    &-right {
      margin-left: 10px;
    }

    &.is-active {
      color: #409eff;
    }
  }

  &.is-disabled {
    opacity: .5;
    cursor: not-allowed;
  }
}

.vc-switch__core {
  margin: 0;
  display: inline-block;
  position: relative;
  min-width: 2.5em;
  height: 20px;
  outline: none;
  color: #dcdfe6;
  background-color: currentColor;
  border: 2px solid;
  border-radius: 1em;
  vertical-align: middle;
  transition: color .35s;

  .is-checked & {
    color: #0099ff;
  }
  .vc-icon-loading,
  &::after {
    position: absolute;
    left: 0px;
    width: 1em;
    height: 1em;
  }
  
  &::after {
    top: 50%;
    content: "";
    border-radius: 100%;
    background-color: #fff;
    transform: translateY(-50%);
    transition: transform .35s, left .35s;

    .is-checked & {
      left: 100%;  
      transform: translate(-100%, -50%);    
    }
  }

  .vc-icon-loading {
    top: 0;
    z-index: 2;

    .is-checked & {
      right: 0;
      left: unset;
    }
  }
}


