.vc-popover {
  display: inline-block;

  &__layer {
    position: fixed;
    padding: 10px;
    font-size: 14px;
    color: light-dark(#606266, #eee);
    border: 1px solid light-dark(#eee, #555);
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    background-color: light-dark(#fff, #333);
    border-radius: 5px;
    box-sizing: border-box;
    z-index: var(--index, 9999);

    .arrow {
      position: absolute;
      width: 16px;
      height: 6px;

      &[placement^='top'] {
        bottom: -6px;
        transform: rotate(180deg);
      }

      &[placement^='bottom'] {
        top: -6px;
      }

      &[placement^='left'] {
        right: -11px;
        transform: rotate(90deg);
      }

      &[placement^='right'] {
        left: -11px;
        transform: rotate(-90deg);
      }

      svg {
        vertical-align: top;

        .svg-arrow {
          fill: light-dark(#eee, #555);
        }
        .svg-content {
          fill: #fff;
          fill: light-dark(#fff, #333);
        }
      }
    }
  }

  &__title {
    padding: 0 0 5px;
    font-size: 16px;
    color: #333;
    color: light-dark(#333, #fff);
  }

  &__footer {
    text-align: right;

    button {
      padding-left: 10px;
      font-size: 14px;
      color: #9e9e9e;
      border: none;
      cursor: pointer;
      background-color: transparent;

      &:hover {
        opacity: 0.8;
      }

      &[type='submit'] {
        color: #09f;
      }
    }
  }
}
