.vc-popover {
  display: inline-block;
  border: none;

  .popover-reference {
    anchor-name: --anchor-el;

    &.open {
      /* pointer-events: none; */
    }
  }

  .popover-target {
    padding: 5px 8px;
    border: none;
    width: var(--w, calc(anchor-size(width) * 2));
    font-size: 14px;
    color: light-dark(#333, #eee);

    inset: unset;
    /* old */
    inset-area: bottom;
    /* new area */
    position-area: bottom;
    position-anchor: --anchor-el;
    position-try-fallbacks: flip-block, flip-inline;
    position-try: flip-block, flip-inline;

    border: 1px solid light-dark(#eee, #444);
    border-radius: 5px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);

    &[popover] {
      --speed: 0.3s;
      opacity: 0;
      scale: 0.9;
      filter: blur(10px);
      transition: display var(--speed) allow-discrete,
        overlay var(--speed) allow-discrete, opacity var(--speed),
        scale var(--speed), filter var(--speed);
    }
    &[popover]:popover-open {
      opacity: 1;
      scale: 1;
      filter: blur(0px);

      @starting-style {
        opacity: 0;
        scale: 0.9;
        filter: blur(10px);
      }
    }

    &.bottom,
    &.top {
      margin: 10px 0;
    }

    &.left,
    &.right {
      margin: 0 10px;
    }

    .title {
      font-size: 18px;
    }
  }
}
