.vc-select {
  position: relative;
  display: inline-block;
  width: 200px;

  &__input {
    position: relative;

    input {
      -webkit-appearance: none;
      display: inline-block;
      padding: 5px 2em 5px 10px;
      width: 100%;
      height: 100%;
      color: @color-text-regular;
      background-color: #fff;
      background-image: none;
      border-radius: 3px;
      border: 1px solid #ddd;
      box-sizing: border-box;
      outline: none;
      transition: border .3s;

      &:hover {
        border-color: #aaa;
      }
      &::placeholder {
        color: @color-text-placeholder;
      }

      .is-open & {
        border-color: #09f;
      }

      .is-disabled & {
        background-color: #f5f7fa;
      }
    }

    i {
      position: absolute;
      right: 6px;
      top: 50%;
      color: @color-text-regular;
      transform: translateY(-50%);
      transition: transform .3s;

      .is-open & {
        transform: translateY(-50%) rotateZ(-180deg);
      }

      &.vc-icon-error {
        display: none;
        cursor: pointer;

        .clearable & {
          display: block;
          opacity: 0;
        }
        .clearable:hover & {
          opacity: .7;
        }
      }
      &.vc-icon-arrow-down {
        .clearable:hover & {
          display: none;
        }
      }
    }
  }

  &-group {
    &__label {
      padding: 5px 5px;
      font-size: 12px;
      color: #aaa;
    }
  }

  &-empty {
    text-align: center;
    color: #aaa;
    line-height: 3em;
  }
}

.vc-select-option  {
  display: flex;
  padding: 0 1em;
  align-items: center;
  line-height: 2.8em;
  color: @color-text-regular;
  transition: color .3s, font-weight .3s;

  &.hover {
    background-color: #f5f7fa;
  }

  &.selected {
    color: #09f;
    font-weight: bold;
  }

  &[disabled] {
    color: #aaa;
    cursor: not-allowed;
  }

  label {
    flex: 1;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.vc-select-tags {
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 2em;
  z-index: 1;
  padding: 3px 0 0 3px;
  box-sizing: border-box;

  .vc-tag {
    display: inline-block;
    margin: 0 3px 3px 0;
    padding: 2px 3px;
    color: #666;
    border-radius: 2px;
    border: 1px solid #e9e9eb;
    background-color: #f4f4f5;

    i {
      opacity: .5;
      cursor: pointer;
      transition: opacity .3s;

      &:hover {
        opacity: 1;
      }
    }

    &.more-tag {
      padding: 2px 10px;
    }
  }

  &__filter {
    margin: 3px 2px;
    width: 10%;
    flex-grow: 1;
    color: #333;
    border: none;
    outline: none;
    background-color: transparent;

    &::placeholder {
      color: @color-text-placeholder;
    }
  }
}

.vc-select__dropdown {
  width: 200px;
  z-index: 1000;
  border: 1px solid #ddd;
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);

  & > ul {
    margin: 3px 0;
    max-height: 200px;
    overflow: auto;
  }

  #arrow,
  #arrow::before {
    position: absolute;
    width: 8px;
    height: 8px;
    z-index: -1;
  }
  
  #arrow::before {
    content: '';
    transform: rotate(-45deg);
    background: #fff;
    border-color: #ddd;
    border-style: solid;
  }

  &[data-popper-placement^='top'] > #arrow {
    bottom: -5px;

    &::before {
      border-width: 0 0 1px 1px;
    }
  }

  &[data-popper-placement^='bottom'] > #arrow {
    top: -5px;

    &::before {
      border-width: 1px 1px 0 0;
    }
  }
}