@placeholderColor: #c0c4cc;

.vc-input {
  position: relative;
  display: flex;
  padding:.4em;
  vertical-align: middle;
  align-items: stretch;
  box-sizing: border-box;
  border: 1px solid #dcdfe6;
  border-radius: 3px;
  background: #fff;
  transition: border .35s;
  overflow: hidden;
  cursor: text;

  &:hover {
    border-color: #c0c4cc;
  }
  &:focus-within,
  &.is-focus {
    border-color: #409eff;
  }
  &.is-disabled {
    cursor: not-allowed;
    background-color: #f5f7fa;
  }

  &__suffix-icon,
  &__prefix-icon {
    display: flex;
    align-items: center;
    color: #c0c4cc;

    &:empty {
      display: none;
    }
  }
  &__prefix-icon {
    padding-right: 5px;
  }
  // &__suffix-icon {
  //   padding-right: 5px;
  // }

  &__text {
    -webkit-appearance: none;
    width: 100%;
    flex: 1;
    border: 0;
    outline: none;
    cursor: inherit;
    background: transparent;
  
    &::-webkit-input-placeholder{
      color: @placeholderColor;
    }

    &::-ms-reveal, 
    &::-ms-clear {
      display: none;
    }

  }
  &__show-passwd {
    font-size: 16px;
    padding-right: 4px;
    color: #c0c4cc;
    cursor: pointer;
  }

  &__clearable {
    opacity: 0;
    padding-right: 4px;
    color: #c0c4cc;
    transition: opacity .35s;
    cursor: pointer;

    .vc-input:hover &,
    .is-focus & {
      opacity: 1;
    }
  }
  
  &__textarea {
    display: block;
    line-height: 1.5;
    width: 100%;
    border: none;
    outline: none;
    resize: vertical;
    font-size: inherit;
    background: transparent;
    font-family: inherit;
    
    &:hover {
      cursor: inherit;
    }

    &::-webkit-input-placeholder{
      color: @placeholderColor;
    }
  }

  &__num-length {
    padding-right: 6px;
  
    span {
      color: #909399;
      font-size: 12px;
      font-style: normal;
    }

    .is-textarea & {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}

